@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/admin.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fas fa-users"></i>Quản lý tài khoản</h4>
                            
                            <a href="/Admin/Account" class="btn btn-warning"> Chi tiết <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-home"></i> Quản lý khách sạn</h4>
                           
                            <a href="/Admin/Homestay/Index" class="btn btn-success">Chi tiết<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fas fa-list-alt"></i> Danh sách đặt phòng</h4>
                           
                            <a href="/Admin/ManagerBooking" class="btn btn-danger">Chi tiết<i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fas fa-trash-restore"></i> Khôi phục</h4>
                           
                            <a href="/Admin/Restore" class="btn btn-primary"> Chi tiết <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div> <br /><br />
                <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> <i class="fas fa-list-alt"></i> Quản lý tour</h4>
                           
                            <a href="/Admin/TourDL" class="btn btn-danger">Chi tiết <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-home"></i> Danh sách đặt tour</h4>
                            
                            <a href="/Admin/ManagerBookingTour" class="btn btn-success">Chi tiết <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>

